.input-default {
  border: 1px solid #999;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 4.5rem;
  padding: 1.0rem;
  width: 40rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #999;
  }
}